<extend name="Public:base" />


<block name="body">
     <div class="row">
         <div class="col-lg-12 col-sm-12 col-xs-12">
             <div class="row">
                 <div class="col-xs-12">
                     <div class="widget radius-bordered">
                         <div class="widget-header">
                             <span class="widget-caption">景点信息</span>      
                         </div>
                         <div class="widget-body">
                          
    
    					 <!-- <form action="__URL__/save" method="post"  > --><!--enctype="multipart/form-data"  -->
    					 				<notempty name="info">
    					 					<input type="hidden" class="form-control"  name="id" value="{$info.id}" >
    					 				 </notempty>
					        
					                    <div class='row'>
				 					         <label class="col-lg-2 control-label" style="height: 34px;line-height: 34px;text-align: right;">景点名称</label>
		                                     <div class="col-lg-6">
		                                         <input type="text" readonly="readonly" class="form-control"  name="name" id="name" required="required" value="{$info.name}" >
		                                         
		                                     </div>
					     
				 
					                    </div>
					  
	
					                     <div class='row'>
				 					         <label class="col-lg-2 control-label" style="height: 34px;line-height: 34px;text-align: right;">景点概况</label>
		                                     <div class="col-lg-6">
		                      
		                                         <textarea readonly="readonly" name='intro' id='intro' rows="10" cols="100" required="required">{$info.intro}</textarea>
		                                         
		                                     </div>
					      				 </div>	
					                    
					                    <div class='row'>
				 					         <label class="col-lg-2 control-label" style="height: 34px;line-height: 34px;text-align: right;">交通</label>
		                                     <div class="col-lg-3">
		                                         <textarea readonly="readonly" name='traffic' id='traffic' rows="10" cols="100">{$info.traffic}</textarea>  
		                                     </div>
					                    </div>
					                     <div class='row'>
				 					         <label class="col-lg-2 control-label" style="height: 34px;line-height: 34px;text-align: right;">门票</label>
		                                     <div class="col-lg-3">
		                                         <textarea readonly="readonly" name='ticket' id='ticket' rows="10" cols="100">{$info.ticket}</textarea>  
		                                     </div>
					         			</div>	
					                     <div class='row'>
				 					         <label class="col-lg-2 control-label" style="height: 34px;line-height: 34px;text-align: right;">开放开始时间</label>
		                                     <div class="col-lg-3">
		                                        <div class="input-group">
                                                <input readonly="readonly" class="form-control" id="start_time" type="text" name='start_time' value="{$info.start_time}">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-clock-o"></i>
                                                </span>
                                            </div>
		                                     </div>
					         			</div>						         			
					                     <div class='row'>
				 					         <label class="col-lg-2 control-label" style="height: 34px;line-height: 34px;text-align: right;">开放结束时间</label>
		                                     <div class="col-lg-3">
		                                        <div class="input-group">
                                                <input readonly="readonly" class="form-control" id="end_time" type="text" name='end_time' value="{$info.end_time}">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-clock-o"></i>
                                                </span>
                                            </div>
		                                     </div>
					         			</div>					
					                    <div class='row'>
				 					         <label class="col-lg-2 control-label" style="height: 34px;line-height: 34px;text-align: right;">用时参考(分钟)</label>
		                                     <div class="col-lg-3">
		                                         <input readonly="readonly" type="text" name='playtime' value="{$info.playtime}" class="form-control" onkeyup="this.value=this.value.replace(/[^\d]/g,'') " onafterpaste="this.value=this.value.replace(/[^\d]/g,'') "  >
		                                         
		                                     </div>
					     
				 
					                    </div>
					                    <div class='row'>
				 					         <label class="col-lg-2 control-label" style="height: 34px;line-height: 34px;text-align: right;">景点图片</label>
		                                     <div class="col-lg-2">
		                                         <input type="file" class="form-control"  name="imglink"  >
		                                     </div>
		                                     <notempty name="info['imglink']">
		                                     <div class="col-lg-2">
		                                     	<img class='imgdiv' alt="单击查看大图" style="width: 150px;100px;" src="__ROOT__/{$info['imglink']}">
		                                     </div>
		                                     </notempty>
					                    </div>					                    
		
					         <!--            <div class='row' style="margin-top: 20px;margin-bottom: 20px;">
					                    	<div class='col-lg-4 col-lg-offset-5'>
					                    	<input class="btn btn-palegreen" type="submit" id="saveRecord" value="保存景点信息">
					                    	</div>
					                    </div>
					               		</form> -->
    
    
    
    
                     </div>
                 </div>                 
             </div>
             
         </div>
     </div>

 </block>
 
<block name="footjs">
<link href="__PUBLIC__/css/bootstrap-datetimepicker.css" rel="stylesheet" />

<!--Basic Scripts-->
<script src="__PUBLIC__/js/jquery-2.0.3.min.js"></script>
<script src="__PUBLIC__/js/bootstrap.min.js"></script>

<!--Beyond Scripts-->
<script src="__PUBLIC__/js/beyond.min.js"></script>
<script src="__PUBLIC__/js/select2/select2.js"></script>
    <script src="__PUBLIC__/js/datetime/bootstrap-timepicker.js"></script>  


<script src="__PUBLIC__/js/datetime/bootstrap-datetimepicker.js"></script>
<style type="text/css">
	.select2-container{
		padding-left: 0px;
		padding-right: 0px;
	}
</style>
<script type="text/javascript">

	$(function(){
		$('#start_time').timepicker({'showMeridian':false});
		$('#end_time').timepicker({'showMeridian':false});
	});




$(".bfjl_img").click(function(){
	//window.open($(this).attr('file'),'_blank');
	var filepath = $(this).attr("file");
	location.href = "__ROOT__/Home/Upload/downFile?filepath="+filepath;
});



</script>
</block>